{% extends 'base.html.twig' %}

{% block title %}Listes des articles{% endblock %}

{% block body %}


  <h1 class="display-4 text-center text-white bg-dark rounded my-5 mx-auto rounded">{{ title }}</h1>

  <div class="album py-5 bg-light">
   
     
      <div class="row col-md-10 mx-auto">

      {% for data in article %}

      {#{{ dump(data) }}#}


        <div class="col-md-4">
          <div class="card mb-4 shadow-lg">
           
            <img src="{{data.imgae}}">
            
            <div class="card-body">
              <h4 class="text-center"> {{ data.title }}</h4>
              <p class="card-text">{{ data.content|striptags }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a href="{{ path('blog_show', {'id': data.id }) }}" class="btn btn btn-outline-primary">Lire la suite</a>
                 <a href="{{ path('blog_edit', {'id': data.id }) }}" class="btn btn btn-outline-danger">Modifier</a>
                </div>
                                {# La bdd renvoi un objet issue de la classe DateTime, on ne peut la convertir 
                                en une chaine de caractère #}
                                {# On utilise donc un filtre Twig : date() #}

                <small class="text-muted">Posté le {{ data.createdAt|date('d/m/Y') }} à {{ data.createdAt|date('H:i:s') }} </small>
              </div>
            </div>
          </div>
        </div>
   
      {% endfor %}
       
       
        
    </div>
    
  </div>



{% endblock %}
