{% extends "base.html.twig" %}

{% block title %}

Détails de l'article

{% endblock %}


{% block body %}

  


    <div class="album py-5 bg-light">
   

      <div class="row">

        
        <div class="mx-auto col-md-6">
          <div class="card mb-4 shadow-lg">
             
              <h2 class="text-center bg-dark text-white">{{articleTwig.title}}</h2>
            
             <img src="{{articleTwig.imgae|replace({'600/400' : '1000/300'})}}">
             
            <div class="card-body">
              <p class="card-text">
               {{articleTwig.content|striptags}}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">Posté le {{ articleTwig.createdAt|date("d/m/Y") }} à {{ articleTwig.createdAt|date("H:i:s") }}</small>
              </div>
            </div>
          </div>
        </div>
       
    </div> 
  </div>
{% endblock %}